In [10]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

hostname = "x-kct4.h.filess.io"
database = "olistproject_maystring"
port = "61032"
username = "olistproject_maystring"
password = "8a92da16ed9780965f7a8471dcb3232e5fb75dcd"

# Load the CSV file into a pandas DataFrame
data = pd.read_csv('/content/olist_order_payments_dataset.csv')

table_name = 'olist_order_payments'
connection = None  # Initialize connection to None

try:
    connection = mysql.connector.connect(host=hostname, database=database, user=username, password=password, port=port)
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

        # Drop the table if it exists
        cursor.execute(f'DROP TABLE IF EXISTS {table_name};')
        print(f"Table '{table_name}' dropped if it existed.")

        # Create the table
        create_table_query = f"""
        CREATE TABLE {table_name} (
          order_id VARCHAR(50),
          payment_sequential INT,
          payment_type VARCHAR(50), # Added payment_type column as per the INSERT query
          payment_installments INT,
          payment_value FLOAT
        );
        """

        cursor.execute(create_table_query)
        print(f"Table '{table_name}' created successfully!")

        batch_size = 1000
        total_records = len(data)

        print(f"Starting data insertion into '{table_name}' in batches of {batch_size} records")

        for start in range(0, total_records, batch_size):
          end = start + batch_size
          batch = data.iloc[start:end] # Get the current batch of records

          batch_records = [
            tuple(row) for row in batch.itertuples(index = False, name = None)
          ]

          insert_query = f"""
          INSERT INTO {table_name}
          (order_id, payment_sequential, payment_type, payment_installments, payment_value)
          VALUES (%s, %s, %s, %s, %s);
          """

          cursor.executemany(insert_query, batch_records)
          connection.commit()
          print(f"inserted records {start + 1} to {min(end, total_records)} successfully")

        print(f"All {total_records} records inserted successfully into '{table_name}' ")

except Error as e:
    print("Error while connecting to MySQL", e)
except Exception as e: # Catch any other potential errors during execution
    print("An error occurred:", e)

finally:
    if connection is not None and connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

/tmp/ipython-input-817211826.py:20: DeprecationWarning: Call to deprecated function get_server_info. Reason:
    The property counterpart 'server_info' should be used instead.

  db_Info = connection.get_server_info()

Connected to MySQL Server version  8.0.36-28
You're connected to database:  ('olistproject_maystring',)
Table 'olist_order_payments' dropped if it existed.
Table 'olist_order_payments' created successfully!
Starting data insertion into 'olist_order_payments' in batches of 1000 records
inserted records 1 to 1000 successfully
inserted records 1001 to 2000 successfully
inserted records 2001 to 3000 successfully
inserted records 3001 to 4000 successfully
inserted records 4001 to 5000 successfully
inserted records 5001 to 6000 successfully
inserted records 6001 to 7000 successfully
inserted records 7001 to 8000 successfully
inserted records 8001 to 9000 successfully
inserted records 9001 to 10000 successfully
inserted records 10001 to 11000 successfully
inserted records 11001 to 12000 successfully
inserted records 12001 to 13000 successfully
inserted records 13001 to 14000 successfully
inserted records 14001 to 15000 successfully
inserted records 15001 to 16000 successfully
inserted records 16001 to 17000 successfully
inserted records 17001 to 18000 successfully
inserted records 18001 to 19000 successfully
inserted records 19001 to 20000 successfully
inserted records 20001 to 21000 successfully
inserted records 21001 to 22000 successfully
inserted records 22001 to 23000 successfully
inserted records 23001 to 24000 successfully
inserted records 24001 to 25000 successfully
inserted records 25001 to 26000 successfully
inserted records 26001 to 27000 successfully
inserted records 27001 to 28000 successfully
inserted records 28001 to 29000 successfully
inserted records 29001 to 30000 successfully
inserted records 30001 to 31000 successfully
inserted records 31001 to 32000 successfully
inserted records 32001 to 33000 successfully
inserted records 33001 to 34000 successfully
inserted records 34001 to 35000 successfully
inserted records 35001 to 36000 successfully
inserted records 36001 to 37000 successfully
inserted records 37001 to 38000 successfully
inserted records 38001 to 39000 successfully
inserted records 39001 to 40000 successfully
inserted records 40001 to 41000 successfully
inserted records 41001 to 42000 successfully
inserted records 42001 to 43000 successfully
inserted records 43001 to 44000 successfully
inserted records 44001 to 45000 successfully
inserted records 45001 to 46000 successfully
inserted records 46001 to 47000 successfully
inserted records 47001 to 48000 successfully
inserted records 48001 to 49000 successfully
inserted records 49001 to 50000 successfully
inserted records 50001 to 51000 successfully
inserted records 51001 to 52000 successfully
inserted records 52001 to 53000 successfully
inserted records 53001 to 54000 successfully
inserted records 54001 to 55000 successfully
inserted records 55001 to 56000 successfully
inserted records 56001 to 57000 successfully
inserted records 57001 to 58000 successfully
inserted records 58001 to 59000 successfully
inserted records 59001 to 60000 successfully
inserted records 60001 to 61000 successfully
inserted records 61001 to 62000 successfully
inserted records 62001 to 63000 successfully
inserted records 63001 to 64000 successfully
inserted records 64001 to 65000 successfully
inserted records 65001 to 66000 successfully
inserted records 66001 to 67000 successfully
inserted records 67001 to 68000 successfully
inserted records 68001 to 69000 successfully
inserted records 69001 to 70000 successfully
inserted records 70001 to 71000 successfully
inserted records 71001 to 72000 successfully
inserted records 72001 to 73000 successfully
inserted records 73001 to 74000 successfully
inserted records 74001 to 75000 successfully
inserted records 75001 to 76000 successfully
inserted records 76001 to 77000 successfully
inserted records 77001 to 78000 successfully
inserted records 78001 to 79000 successfully
inserted records 79001 to 80000 successfully
inserted records 80001 to 81000 successfully
inserted records 81001 to 82000 successfully
inserted records 82001 to 83000 successfully
inserted records 83001 to 84000 successfully
inserted records 84001 to 85000 successfully
inserted records 85001 to 86000 successfully
inserted records 86001 to 87000 successfully
inserted records 87001 to 88000 successfully
inserted records 88001 to 89000 successfully
inserted records 89001 to 90000 successfully
inserted records 90001 to 91000 successfully
inserted records 91001 to 92000 successfully
inserted records 92001 to 93000 successfully
inserted records 93001 to 94000 successfully
inserted records 94001 to 95000 successfully
inserted records 95001 to 96000 successfully
inserted records 96001 to 97000 successfully
inserted records 97001 to 98000 successfully
inserted records 98001 to 99000 successfully
inserted records 99001 to 100000 successfully
inserted records 100001 to 101000 successfully
inserted records 101001 to 102000 successfully
inserted records 102001 to 103000 successfully
inserted records 103001 to 103886 successfully
All 103886 records inserted successfully into 'olist_order_payments'
MySQL connection is closed

In [8]:
orders_payments = pd.read_csv('/content/olist_order_payments_dataset.csv')
orders_payments.head()
orders_payments.shape

(103886, 5)